DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
EMAIL_USER=lethanhdat2002296@gmail.com
EMAIL_APP_PASSWORD=pboy zqls colg qcic
EMAIL_FROM=EmoBox <lethanhdat2002296@gmail.com>
EMAIL_ADMIN_TO=lethanhdat2002296@gmail.com
